@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Sans'),
    url('./assets/fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Sans'),
    url('./assets/fonts/NunitoSans-Bold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .collapse1 {
  background: linear-gradient(
      147.42deg,
      rgba(64, 72, 93, 0.4) 6.32%,
      rgba(96, 106, 130, 0.4) 92.25%
    ),
    linear-gradient(128deg, #e6e7ed -79.65%, #f7f8fa 151.25%);
  background-blend-mode: soft-light, normal;
  box-shadow: -7px -7px 16px #fafbfc, 4px 3px 19px #bdc1d1,
    inset -1px -1px 16px #f5f6fa, inset 1px 1px 16px #e9eaf2;
  border-radius: 8px;
} */

.collapse2 {
  width: 10px;
  height: 10px;
  background-color: brown;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

*:focus {
  outline: none !important;
  border: none !important;
}

.navActiveClass {
  color: #7838ff !important;
}

.checkShadow {
  box-shadow: inset -2px -2px 6px #ffffff, inset 2px 2px 3px #bdc1d1 !important;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.checkShadow2 {
  box-shadow: -2px -3px 8px #fafafc, 1px 1px 5px rgba(177, 181, 198, 0.339052),
    inset 1px 1px 3px #ebecf0 !important;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

label {
  margin-bottom: 0px !important;
}

a {
  width: 100%;
  color: #000 !important;
}

a:hover {
  text-decoration: none !important;
}

.custom-toggle.react-toggle--checked .react-toggle-track {
  background-color: #34c759;
}

.custom-toggle.react-toggle--checked .react-toggle-track,
.custom-toggle.react-toggle .react-toggle-track {
  width: 50px;
  height: 31px;
}

.custom-toggle.react-toggle--checked .react-toggle-thumb {
  left: 20px;
  border: 1px solid #34c759;
}

.custom-toggle.react-toggle--checked .react-toggle-thumb,
.custom-toggle.react-toggle .react-toggle-thumb {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  width: 29px !important;
  height: 29px !important;
}

.slider {
  padding: 50px 0;
  width: 100%;
}

.slider .rangeslider-horizontal .rangeslider__handle:after {
  display: none;
}

.slider .rangeslider-horizontal .rangeslider__handle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 73px;
  border-radius: 50%;
}

.slider .rangeslider__handle-label {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #000;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.slider .rangeslider .rangeslider__handle {
  background: linear-gradient(
      147.42deg,
      rgba(64, 72, 93, 0.4) 6.32%,
      rgba(96, 106, 130, 0.4) 92.25%
    ),
    linear-gradient(128deg, #e6e7ed -79.65%, #f7f8fa 151.25%);
  background-blend-mode: soft-light, normal;
  box-shadow: -7px -7px 16px #fafbfc, 4px 3px 19px #bdc1d1,
    inset -1px -1px 16px #f5f6fa, inset 1px 1px 16px #e9eaf2;
  border: none !important;
}

.slider .rangeslider {
  background: #ebecf0;
  box-shadow: 1px 1px 7px #ebecf0, inset -5px -4px 10px #fafbfc,
    inset 3px 3px 8px #bdc1d1;
  border-radius: 16px;
}

.slider .rangeslider-horizontal .rangeslider__fill {
  background: #ebecf0;
  box-shadow: 1px 1px 7px #ebecf0, inset -5px -4px 10px #fafbfc,
    inset 3px 3px 8px #bdc1d1;
  border-radius: 16px;
}

.react-code-input > * {
  width: 55px !important;
  height: 60px !important;
  background: linear-gradient(
      147.42deg,
      rgba(64, 72, 93, 0.4) 6.32%,
      rgba(96, 106, 130, 0.4) 92.25%
    ),
    linear-gradient(128deg, #e6e7ed -79.65%, #f7f8fa 151.25%) !important;
  background-blend-mode: soft-light, normal !important;
  box-shadow: -7px -7px 16px #fafbfc, 4px 3px 19px #bdc1d1,
    inset -1px -1px 16px #f5f6fa, inset 1px 1px 16px #e9eaf2 !important;
  border-radius: 8px !important;
  border: none !important;
  padding-left: 22px !important;
  font-size: 20px !important;
}

@media only screen and (max-width: 402px) {
  .react-code-input > * {
    width: 14% !important;
    padding-left: 5% !important;
  }
}
@media only screen and (max-width: 315px) {
  .react-code-input > * {
    margin: 3px !important;
  }
}

/*datepicker*/

.SingleDatePickerInput__withBorder {
  border: none !important;
}

.DateInput_input {
  background: transparent !important;
  border-bottom: 0 !important;
  padding: 0 !important;
}

/* timepicker */

.ant-picker {
  background: transparent !important;
  border: none !important;
  padding: 0 !important;
}

.ant-picker-clear {
  display: none;
}

.ant-picker-input > input {
  font-weight: 600 !important;
  font-size: 16px !important;
  color: #000 !important;
}

.edit {
  width: 28px;
}

.edit:hover {
  cursor: pointer;
}

.editCircle:hover {
  cursor: pointer;
}

.editProfile {
  padding: 0;
  border: none;
  width: 100% !important;
  background: transparent;
  font-weight: bold;
}

.DateInput,
.DateInput_1 {
  background: none;
  width: 100%;
}

.DateInput_input {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  color: #000000 !important;
  background-color: none !important;
}
.SingleDatePicker .SingleDatePickerInput,
.SingleDatePickerInput,
.SingleDatePickerInput__withBorder {
  background-color: none !important;
}

.SingleDatePickerInput.SingleDatePickerInput_1.SingleDatePickerInput__withBorder.SingleDatePickerInput__withBorder_2 {
  background-color: none !important;
}
.SingleDatePicker {
  width: 100% !important;
}

.SingleDatePicker .DateInput {
  background: none !important;
  width: 100% !important;
}

.dateInp .SingleDatePicker.SingleDatePicker_1 .SingleDatePickerInput {
  background-color: none !important;
  background: none !important;
}

.CalendarDay__selected {
  background: #b4b2f1 !important;
  color: white;
  border: #fff !important;
}
.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-right: 33px solid #cacccd !important;
}

.ant-picker-ok .ant-btn-primary {
  background: linear-gradient(135deg, #b4b2f1 0%, #7838ff 100%) !important;
  border: none !important;
}

.ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: #b4b2f1 !important;
  color: white !important;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-top: 0px !important;
  border-right: 0px !important;
  bottom: 0;
  right: 0;
}

.SingleDatePicker_picker {
  z-index: 100 !important;
}

.disinfectionAddress {
  padding: 0;
  border: none;
  width: 100% !important;
  background: transparent;
  font-weight: bold;
  /* color: #000; */
  z-index: 50;
  /* padding-bottom: 15px; */
}

@media (max-width: 1100px) {
  .disinfectionAddress {
    width: 100% !important;
  }
}

.disinfectionAddress::placeholder {
  /* color: #000; */
  opacity: 1;
}

.profileAddress {
  padding: 0;
  border: none;
  width: 100%;
  background: transparent;
  font-weight: bold;
  /* color: #000; */
  z-index: 50;
  /* padding-bottom: 15px; */
}

@media (max-width: 1100px) {
  .profileAddress {
    width: 100% !important;
  }
}

.profileAddress::placeholder {
  /* color: #000; */
  opacity: 1;
}

.suggestions {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  max-height: 300px !important;
  overflow-y: scroll;
  top: 30px;

  font-weight: bold;
  background: linear-gradient(
      129.67deg,
      rgba(122, 127, 133, 0.4) 14.52%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    linear-gradient(133.76deg, #e6e7ed -18.17%, #f7f8fa 140.27%);
  background-blend-mode: soft-light, normal;
  box-shadow: -2px -3px 8px #fafafc, 1px 1px 5px #b1b5c6,
    inset 1px 1px 3px #ebecf0;
  border-radius: 8px;
}

@media (max-width: 1100px) {
  .suggestions {
    /* width: calc(100% - 60px); */
    /* left: 0; */

    /* margin: 0 30px; */
    box-sizing: border-box;
  }
}

.suggestions input {
  max-width: 100%;
}

.edit:hover {
  cursor: pointer;
}

.editProfile {
  padding: 0;
  border: none;
  width: 280px;
  background: transparent;
  font-weight: bold;
}

/* nprogress bar */
/* Make clicks pass-through */

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: linear-gradient(
      129.67deg,
      rgba(122, 127, 133, 0.4) 14.52%,
      rgba(255, 255, 255, 0.4) 100%
    ),
    linear-gradient(135deg, #b4b2f1 0%, #7838ff 100%);

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 3px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #bcb9f2, 0 0 5px #a174fb;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 20px;
  height: 20px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #a379fa;
  border-left-color: #a379fa;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* billing input fields */

.billingInput-wrapper {
  background: #ebecf0;
  box-shadow: 1px 1px 7px #ebecf0, inset -5px -4px 10px #fafbfc,
    inset 3px 3px 8px #bdc1d1;
  border-radius: 16px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 17px 19px;
  margin: 0 0 20px 0;
}

.billingInput {
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 14px;
}

.billingInput-expiry {
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 15px 0 !important;
  color: #000;
}

.suggestions div {
  /* background: white; */
  padding: 10px;
}

.suggestions div:hover {
  color: #7838ff;
}

.location-suggestion {
  background: white;
  padding: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.arrow-picker {
  cursor: pointer;
}

.mobile {
  display: none;
}

.discount-success {
  color: green;
  text-align: center;
}

.discount-fail {
  padding-left: 10px;
}

@media (max-width: 1100px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
